{% extends "base.html" %} {% block title %}Home{% endblock %}

<!--BLOCK OF CSS-->
{% block relative_css %}
    <link rel="stylesheet" href="static\control_panel.css">
    <link rel="stylesheet" href="static\video_stream.css">
    <link rel="stylesheet" href="static\rf_details.css">
    <link rel="stylesheet" href="static\event_log.css">
    <link rel="stylesheet" href="static\alerts.css">
    <link rel="stylesheet" href="static\container.css">
    <link rel="stylesheet" href="static\home.css">
{% endblock %}

{% block content %}

<!--PARENT CONTAINER-->
<div class="parent_cont_d">
    </div class="row1_d">
        <p class="navlbl">Dashboard</p>
        <div class="navitem"></div>
        <p class="navlbl">Event Log Sesstions</p>
        <div class="navitem"></div>
        <p class="navlbl">Video Stream</p>
        <div class="navitem"></div>
    </div>
</div>

{% endblock %}




    